<%- include('./includes/head.ejs') %>
    <main>
        <div class="login-box">
            <form class="form" method="POST" action="/auth/forget-password">
                <div class="form-group">
                <label for="email" class="">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="abc123@gmail.com">
                </div>

                <div class="form-submit">
                    <button type="submit" class="btn sign-in">Confirm</button>
                </div>
                
            </form>
        </div>
    </main>

<%- include('./includes/end.ejs')%>