<%- include('./includes/head.ejs') %>
    <main>
        <div class="login-box">
            <form class="form">
                <div class="form-group">
                <label for="username" class="">Username</label>
                <input type="text" class="form-control" id="username" placeholder="abc123">
                </div>

                <div class="form-group">
                    <label for="new-password" class="">New password</label>
                    <input type="password" class="form-control" id="new-password" placeholder="********">
                </div>

                <div class="form-group">
                    <label for="confirm-password" class="">Confirm password</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="********">
                </div>

                <div class="form-submit">
                    <button type="submit" class="btn sign-in">Reset Password</button>
                </div>
                
            </form>
        </div>
    </main>

<%- include('./includes/end.ejs')%>